<div class="card">
    <div class="card-body">
        <h1>Hola :3</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Omnis quas magni ea quisquam libero veritatis distinctio?
              Numquam, animi iure quos nostrum autem aliquam sit explicabo
               vero dolorum, dolor labore voluptatum.</p>
        
    </div>
</div>