<div class="h-100 p-5 text-white bg-dark rounded-3">
    <h1 class="display-4">Proycto Notas</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Estre proyecto se basa como se puede intuir en una pagina de notas donde una persona podra crear su propio usuario
        ingresando su nombre, correo y contraseña, para posterior mente poder ingresar a la pagina y poder comenzar a hacer uso de esta
        creando, visualizando, editando y eliminando sus propias notas.
    </p>
</div>