body{
    background: #e9d362;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#e9d362, #3a3a3a );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#e9d362, #3a3a3a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.img{
    width: 40%;
}