<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="/img/usu4.png" class="rounded-circle mx-auto s-block m-4 img" alt="IMG USUARIO">
            <div class="card-header">
                <center>Inicia seccion</center>
            <div class="card-body">
                <form action="/urlusers/ingresar" method="POST">
                    <div class="form-floating mb-3">
                        <input type="email" name="correo" class="form-control" id="floatingInput" placeholder="name@example.com" autofocus>
                        <label for="floatingInput">Correo</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="passw" class="form-control" id="floatingPassword" placeholder="Contraseña">
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-outline-success btn-block" type="submit">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
